name: TeamWorkflow

on:
  push:
    branches:
      - main
      - chrome-test

jobs:
  integration-delivery:
    runs-on: ubuntu-latest
    environment: Test
    container:
      image: node
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - run: |
          apt-get install -y wget gnupg
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | gpg --dearmor -o /usr/share/keyrings/google-linux.gpg
          echo "deb [signed-by=/usr/share/keyrings/google-linux.gpg arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" > /etc/apt/sources.list.d/google-chrome.list
          apt-get update
          apt-get install -y google-chrome-stable
          google-chrome --version

      - name: Install dependencies
        run: npm install

      - name: Build website
        run: npm run build

      - name: Install TestCafe
        run: npm install -g testcafe

      - name: List test browsers
        run: testcafe --list-browsers

      - name: Run tests
        run: testcafe "chrome:headless --no-sandbox --disable-dev-shm-usage" test/*